@using ISUCorp.ReservationsProject.Core
@using ISUCorp.ReservationsProject.Core.Utils
@using ISUCorp.ReservationsProject.App.Helpers
@model ISUCorp.ReservationsProject.Domain.Dto.ContactDto

@{
    ViewBag.ActivePage = "Contact";
    ViewBag.Title = LocalizationHelper.EditContact;
}

<article class="main-body">
    <div class="container">
        <div class="content">
            <form data-bind="submit: send" class="form-horizontal">

                <input type="hidden" value="@Model.Id" id="hidden-id" />
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">@LocalizationHelper.Name</label>
                            <span class="fa fa-users"></span>
                            <input type="hidden" value="@Model.Id" id="hidden-name" />
                            <input data-bind="textInput: Name, validationElement: Name" type="text" class="form-control" placeholder="@LocalizationHelper.Name" required>
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">@LocalizationHelper.Type</label>
                            <span class="fa fa-globe"></span>
                            <input type="hidden" value="@Model.Name" id="hidden-type" />
                            @Html.DropDownListFor(contactDto => contactDto.Type, Enum.GetValues(typeof(ContactType)).Cast<ContactType>().Select(x => new SelectListItem { Text = x.GetDescription(), Value = ((int)x).ToString() }), new { @class = "form-control", data_bind = "value: Type" })
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">@LocalizationHelper.Phone</label>
                            <span class="fa fa-phone"></span>
                            <input type="hidden" value="@Model.Phone" id="hidden-phone" />
                            <input data-bind="value: Phone" type="text" class="form-control" placeholder="@LocalizationHelper.Phone" pattern="[0-9]+">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Birthday</label>
                            <span class="fa fa-calendar"></span>
                            <input type="hidden" value="@Model.BirthDate.ToString("dd-MM-yyyy")" id="hidden-birthdate" />
                            <input id="birthdate" data-bind="value: Birthdate" type="date" class="form-control" placeholder="@LocalizationHelper.BirthDate">
                        </div>
                    </div>
                </div>

                <div id="edit"></div>

                <div class="form-actions">
                    <a class="btn btn-sm btn-gray" href="@Url.Action("List", "Contact")">@LocalizationHelper.Cancel</a>
                    <input class="btn btn-sm" type="submit" value="@LocalizationHelper.Send">
                </div>

            </form>
        </div>
    </div>
</article>

@section scripts
{
    <script src="~/Scripts/Contact/EditViewModel.js"></script>
}