@using ISUCorp.ReservationsProject.App.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="@ViewBag.CurrentLanguage">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
</head>
<body>

    <header class="main-header">
        <div class="top">
            <div class="container">
                <div class="company-brand">
                    <img src="~/Content/images/isucorp.png" alt="" class="primary">
                    <img src="~/Content/images/wcsd.png" alt="" class="secondary">
                </div>
                <div class="lan">
                    <div class="btn-group" role="group" aria-label="Language">
                        <a type="button" href="@Url.Action("SetLanguage", "Base", new {language = "es"})" class="btn btn-sm @if (@ViewBag.CurrentLanguage == "es") { <text>active</text>}">Es</a>
                        <a type="button" href="@Url.Action("SetLanguage", "Base", new {language = "en"})" class="btn btn-sm @if (@ViewBag.CurrentLanguage == "en") { <text>active</text>}">En</a>
                    </div>
                </div>
                <div class="options pull-right d-inline-block d-md-none">
                    @if (ViewBag.ActivePage == "Reservation")
                    {
                    <a class="btn btn-sm btn-link" href="@Url.Action("List", "Contact")">@LocalizationHelper.ContactList</a>
                    }
                    else
                    {
                    <a class="btn btn-sm btn-link" href="@Url.Action("List", "Reservation")">@LocalizationHelper.ReservationsList</a>
                    }
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <h1 class="title">@ViewBag.Title</h1>
                <div class="options pull-right">
                    @if (ViewContext.RouteData.Values["controller"].Equals("Reservation"))
                    {
                        if (ViewContext.RouteData.Values["action"].Equals("List"))
                        {
                            <a class="btn btn-sm" href="@Url.Action("Create", "Reservation")"><span class="fa fa-plus"></span> @LocalizationHelper.CreateReservation</a>
                            <a class="btn btn-sm d-none d-md-inline-block" href="@Url.Action("List", "Contact")"><span class="fa fa-list"></span> @LocalizationHelper.ContactList</a>
                        }
                        else if (ViewContext.RouteData.Values["action"].Equals("Create") || ViewContext.RouteData.Values["action"].Equals("Edit"))
                        {
                            <a class="btn btn-sm" href="@Url.Action("List", "Reservation")"><span class="fa fa-mail-reply"></span> @LocalizationHelper.ReservationsList</a>
                        }
                    }
                    else if (ViewContext.RouteData.Values["controller"].Equals("Contact"))
                    {
                        if (ViewContext.RouteData.Values["action"].Equals("List"))
                        {
                            <a class="btn btn-sm" href="@Url.Action("Create", "Contact")"><span class="fa fa-plus"></span> @LocalizationHelper.CreateContact</a>
                            <a class="btn btn-sm d-none d-md-inline-block" href="@Url.Action("List", "Reservation")"><span class="fa fa-list"></span> @LocalizationHelper.ReservationsList</a>
                        }
                        else if (ViewContext.RouteData.Values["action"].Equals("Create") || ViewContext.RouteData.Values["action"].Equals("Edit"))
                        {
                            <a class="btn btn-sm" href="@Url.Action("List", "Contact")"><span class="fa fa-mail-reply"></span> @LocalizationHelper.ContactList</a>
                        }

                    }

                </div>
            </div>
        </div>
    </header>

    <article class="main-body">
        @RenderBody()
    </article>

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
