@using ISUCorp.ReservationsProject.Core
@using ISUCorp.ReservationsProject.App.Helpers
@using ISUCorp.ReservationsProject.Core.Utils
@model ISUCorp.ReservationsProject.Domain.Dto.ReservationDto

@{
    ViewBag.Title = LocalizationHelper.EditReservation;
}

<article class="main-body">
    <div class="container">
        <div class="form-horizontal">
            <input type="hidden" value="@Model.Id" id="hidden-id" />
            <div class="content">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">@LocalizationHelper.Name</label>
                            <span class="fa fa-users"></span>
                            <input type="text" data-bind="value: Reservation().Contact.Name" class="form-control" name="name" id="" placeholder="@LocalizationHelper.Name" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">@LocalizationHelper.Type</label>
                            <span class="fa fa-globe"></span>
                            @Html.DropDownListFor(reservationDto => reservationDto.Contact.Type, Enum.GetValues(typeof(ContactType)).Cast<ContactType>().Select(x => new SelectListItem { Text = x.GetDescription(), Value = ((int)x).ToString() }), new { @class = "form-control", data_bind = "value: Reservation().Contact.Type", disabled = "" })
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">@LocalizationHelper.Phone</label>
                            <span class="fa fa-phone"></span>
                            <input type="text" data-bind="value: Reservation().Contact.Phone" class="form-control" name="phone" id="" placeholder="@LocalizationHelper.Phone" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">@LocalizationHelper.BirthDate</label>
                            <span class="fa fa-calendar"></span>
                            <input type="date" data-bind="value: Reservation().Contact.FormattedBirthDate" class="form-control" name="birthdate" id="" placeholder="@LocalizationHelper.BirthDate" disabled="disabled">
                            <small class="form-text text-muted">@LocalizationHelper.BirthDate</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">@LocalizationHelper.ReservationDate</label>
                            <span class="fa fa-calendar"></span>
                            <input type="date" data-bind="value: Reservation().FormattedReservationDate" class="form-control" name="reservation-date" id="reservation-date" placeholder="@LocalizationHelper.ReservationDate">
                            <small class="form-text text-muted">@LocalizationHelper.ReservationDate</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">@LocalizationHelper.Rating</label>
                            <span class="fa fa-star"></span>
                            <select id="" data-bind="options: AvailableRatings, value: Reservation().Rating" class="form-control" name="rating"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <a class="btn btn-sm btn-gray" href="@Url.Action("List", "Reservation")">@LocalizationHelper.Cancel</a>
                <input class="btn btn-sm" data-bind="click: send" value="@LocalizationHelper.Send">
            </div>

        </div>
    </div>
</article>

@section scripts
{
    <script>
        var urlActions = {
            list: '@Url.Action("List", "Reservation")',
            edit: '@Url.Action("Edit", "Reservation")',
            getById: '@Url.Action("GetById", "Reservation")'
        };
    </script>
    <script src="~/Scripts/Reservation/EditViewModel.js"></script>
}