@using ISUCorp.ReservationsProject.Domain.Dto
@using ISUCorp.ReservationsProject.App.Helpers
@model IEnumerable<ISUCorp.ReservationsProject.Domain.Dto.ReservationDto>

@{
    ViewBag.ActivePage = "Reservation";
    ViewBag.Title = LocalizationHelper.ReservationsList;
}

<div class="container">
    <div class="content">
        <div class="form-horizontal">

            <table class="table reservation-list-table">
                <thead>
                    <tr>
                        <th>
                            <a href="@Url.Action("List", "Reservation", new {page = 1, sortBy = nameof(ReservationDto.ReservationDate)})"><span class="fa fa-sort-amount-asc"></span> Date</a>
                        </th>
                        <th class="text-center hidden-xs">
                            <a href="@Url.Action("List", "Reservation", new {page = 1, sortBy = nameof(ReservationDto.Rating)})"><span class="fa fa-sort-amount-asc"></span> Rating</a>
                        </th>
                        <th class="text-center">
                            <a href="@Url.Action("List", "Reservation", new {page = 1, sortBy = nameof(ReservationDto.IsFavorite)})"><span class="fa fa-sort-amount-asc"></span> Favorite</a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservationDto in Model)
                    {
                        <tr>
                            <td>
                                <div class="date hidden-xs">@reservationDto.ReservationDate</div>
                                <div class="date visible-xs">@reservationDto.FormattedReservationDate</div>
                                <div class="name">@reservationDto.Contact.Name</div>
                            </td>
                            <td class="hidden-xs">
                                <div class="rating">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (i < @reservationDto.Rating)
                                        {
                                            <span class="fa fa-star"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-star-o"></span>
                                        }
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="is-favorite">
                                    <a href="@Url.Action("EditFavorite", "Reservation", new {id = reservationDto.Id, isFavorite = !reservationDto.IsFavorite})">
                                        @if (reservationDto.IsFavorite)
                                        {

                                            <span class="fa fa-heart"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-heart-o"></span>
                                        }
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <a class="btn btn-sm" href="@Url.Action("Edit", "Reservation", new { id = reservationDto.Id })"><span class="fa fa-pencil"></span> <span class="hidden-xs">Edit</span></a>
                                    @using (Html.BeginForm("Remove", "Reservation", new { id = reservationDto.Id }, FormMethod.Post, new { id = reservationDto.Id }))
                                    {
                                        <button type="submit" class="btn btn-sm"><span class="fa fa-trash"></span> <span class="hidden-xs">Remove</span></button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("List", "Reservation", new { page = 1 })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    @for (var i = 1; i <= ViewBag.PageCount; i++)
                    {
                        <li class="page-item">
                            <a class="page-link @(ViewBag.CurrentPage == i ? "active" : null)" href="@Url.Action("List", "Reservation", new { page = i })">@i</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("List", "Reservation", new { page = ViewBag.PageCount })" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>